body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.img-categoria{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.img-recetas{
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.img-error404{
    width: 75%;
}

/* large */
@media (width >= 992px) {
    .img-error404{
      width: 40%;
    }
  }